<template name="purchasesList">
	<ul class="purchase-items-list">
	{{#each purchases}}
		{{> Template.dynamic template=purchaseTemplate data=this}}
	{{/each}}
	</ul>
</template>

<template name="ordersItem">
	<li class="order-item">
		{{_id}}, {{status}}
		<button class="btn btn-primary accept-order-btn">Accept</button>
		<button class="btn btn-primary reject-order-btn">Reject</button>
	</li>
</template>

<template name="purchasesItem">
	<li class="purchase-item">
		{{_id}}, {{status}}		
	</li>
</template>

<template name="salesItem">
	<li class="sold-item">
		{{_id}}, {{status}}
	</li>
</template>