body {
  padding-top: 70px;
  position: relative; 
}

#main-nav{
	width: 100%;
	z-index: 9999 !important;
	background-color: white;
}

.nav.nav-pills li{
  float: right !important;
}

.nav.nav-pills a{
  padding-right: 5px;
  padding-left: 5px;
}

.navbar-header {
    width: 100%;
}

.brand {
    position: absolute;
    right: 50%;
    margin-top: 7px;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

.btn-float{
  z-index: 1000; 
  position:fixed !important; 
  bottom:20px; 
  left:20px;  
}

.form-group{
  margin-top:0px;
}

.container{
  padding:12px;
}