@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

* {
    font-family: 'Droid Arabic Kufi', serif !important;
    font-size: 11pt;
}

.fa {
    font-family: FontAwesome, serif !important;
}

.glyphicon {
    font-family: 'Glyphicons Halflings', serif !important;
}


@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

body {
  padding-top: 60px;
  position: relative; 
  background-color: white;
}

#main-nav{
	width: 100%;
	z-index: 9999 !important;
	background-color: white;
}

.nav.nav-pills li{
  float: right !important;
}

.nav.nav-pills a{
  padding-right: 5px;
  padding-left: 5px;
}

.navbar-header {
    width: 100%;
}

.brand {
    position: absolute;
    left: 57%;
    margin-top: 7px;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

.btn-float{
  z-index: 1000; 
  position:fixed !important; 
  bottom:20px; 
  left:20px;  
}

.form-group{
  margin-top:0px;
}

.page-title{
  margin-top: 0px;
}

.unread-thread{
  background-color: #D9EDF7;
}

.message-container .media-body .well{
  background-color: #EEE;
}


.thread-content{
  margin-bottom: 70px;
  margin-top:50px;
}

.thread-form {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background:#EEE;
}

.thread-nav {
   position:fixed;
   left:0px;
   top:50px;
   height: 50px;
   width:100%;
   background:#FAF2CC;
   padding: 15px;
}

/* IE 6 */
* html .thread-form {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}