@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

* {
    font-family: 'Droid Arabic Kufi', serif !important;
    font-size: 11pt;
}

.fa {
    font-family: FontAwesome, serif !important;
}

.glyphicon {
    font-family: 'Glyphicons Halflings', serif !important;
}

.back-btn .glyphicon {
  font-size: 30px;
}

.map-container {
  width: 100%;
  max-width: 100%;
  height: 300px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

html, body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  -webkit-overflow-scrolling: touch;  
}

body {
  background-color: white;
  padding-top: 70px;
}

html {
  height: 100vh;
}
body {
  min-height: 100vh;
}

#bootstrap-overrides .navbar.navbar-warning {
  background-color: #E69335;
}

#bootstrap-overrides .btn.btn-fab.btn-warning{
 background-color: #E69335; 
}

#bootstrap-overrides .btn.btn-raised.btn-warning{
 background-color: #E69335; 
}


#main-nav{
	width: 100%;
	z-index: 9999 !important;
	background-color: white;
}

.nav.nav-pills li{
  float: right !important;
}

.nav.nav-pills a{
  padding-right: 5px;
  padding-left: 5px;
}

.navbar-header {
    width: 100%;
}

.brand {
    position: absolute;
    left: 57%;
    margin-top: 7px;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

.btn-float{
  z-index: 1000; 
  position:fixed !important; 
  bottom:20px; 
  left:20px;  
}

.btn-float-2{
  z-index: 1000; 
  position:fixed !important; 
  bottom:20px; 
  left:65px;  
}

.form-group{
  margin-top:0px;
}

.page-title{
  margin-top: 0px;
}

.unread-thread{
  background-color: #D9EDF7;
}

.message-container .media-body .well{
  background-color: #EEE;
}


.thread-content{
  margin-bottom: 70px;
  margin-top:50px;
}

.thread-form {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background:#EEE;
}

.thread-nav {
   position:fixed;
   left:0px;
   top:50px;
   height: 50px;
   width:100%;
   background:#FAF2CC;
   padding: 15px;
}

/* IE 6 */
* html .thread-form {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

/* modal vertical align  */
/* http://jsfiddle.net/rensdenobel/sRmLV/13/ */

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}


/* A workaround for slow offcanvas menu */
/* https://github.com/jasny/bootstrap/issues/186#issuecomment-39455471 */

.hide-item-btn {
    margin-bottom: 50px;
    margin-top: 0px;
}

th, td {
    padding: 15px;
    text-align: right;
}
.table-categories{
    margin-top: 50px;
}
.admin-header{
    margin-bottom: 30px;
}
.table-categories td {
    vertical-align: middle;
}
table th{
    font-size: 9pt;
}
table td span{
    font-size: 9pt;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  /* .row-offcanvas-right
  .sidebar-offcanvas {
    right: -250px; width of offcanvas menu
  } */

  .row-offcanvas-right.active {
    right: 250px; /* width of offcanvas menu */
  }

  .row-offcanvas-left.active {
    left: 250px; /* width of offcanvas menu */
  }

  .sidebar-offcanvas {
    width: 250px; /* width of offcanvas menu */
    background-color: #222;
    color:white;    
    z-index: 4000;
    position:fixed;
    right:-250px;
  }

  .sidebar-offcanvas.active {
    position:fixed;
    right:0px;
    top:0px;
    bottom:0px;
  }

  .sidebar-offcanvas a {
    color:#999;
  }  

  .row-offcanvas-right.active
  .navbar {
    right:250px;
    width:100%;
  }


}

.slick-prev:before, .slick-next:before { 
    color:red !important;
}

.slick-slide{
  float: right !important;
}


.badge-danger{
  background-color:red;
  top:3px; position:relative;
}
