html, body {
  height: 100%;
}

body {
  padding: 50px 0 0 0;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

.unread-mark {
    padding:0px;
    float:left;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 10px;
    height: 10px;
    background: green;
    border: 1px solid red;  
    position:absolute;  
    right:5px; top:5px;
}

/* https://github.com/jasny/bootstrap/issues/253 */
.navmenu-fixed-right {
   left: auto !important;
}

.navmenu-fixed-right.active {
   display:block;
}

.navbar-toggle {left: auto !important;}
body.canvas-sliding, body.canvas-slid {left: auto !important;}

.navbar.navbar-fixed-top.active {
  right:250px;
  left:-250px;
}