<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Starter Template for Bootstrap</title>

</head>

<template name="applicationLayout">
  <div class="bazar-navmenu navmenu navmenu-default navmenu-fixed-left offcanvas">
    <a class="navmenu-brand" href="#">Project name</a>
    <ul class="nav navmenu-nav">
      <li><a href="{{pathFor 'home'}}">Home</a></li>
        {{#if currentUser}}
          <li id="my-purchases">
            <a href="{{pathFor 'settings.purchases'}}">
              Purchases
              {{#if unreadPurchases}}
                <span class="counter label label-default">{{unreadPurchases}}</span>
              {{else}}
                (<span class="counter">0</span>)
              {{/if}}
            </a>
          </li>
          {{#if hasShop}}
          <li id="my-orders">
            <a href="{{pathFor 'settings.orders'}}">
              Orders
              {{#if unreadOrders}}
                <span class="counter label label-default">{{unreadOrders}}</span>
              {{else}}
                (<span class="counter">0</span>)
              {{/if}}
            </a>
          </li>
          {{/if}}
          <li><a href="{{pathFor 'messages.index'}}">Messages</a></li>
          <li><a href="{{pathFor 'settings.account'}}">Settings</a></li>
          {{#unless hasShop}}
          <li id="create-shop"><a href="{{pathFor 'shops.new'}}">Create shop</a></li>
          {{/unless}}
          <li><a href="{{pathFor 'logout'}}">Sign out</a></li>
          <li><a href="{{pathFor 'admin.users'}}">Admin</a></li>
        {{else}}
          <li><a href="{{pathFor 'signin'}}">Sign in</a></li>
          <li><a href="{{pathFor 'signup'}}">Sign up</a></li>
        {{/if}}
    </ul>
  </div>

  <div class="navbar navbar-default navbar-fixed-top">    
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
        {{#if unreadItems}}
          <span class="unread-mark"></span>
        {{/if}}
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  </div>

  <div class="container">

  <div>
    {{> yield "nav"}}
  </div>  

  <div class="container app-container">
    {{> yield}}
  </div><!-- /.container -->
</div>

</template>


<template name="sideMenu">
  <ul class="nav navbar-nav navbar-right">
    
  </ul>
</template>