<template name="applicationLayout">


  <div class="container-fluid" id="bootstrap-overrides">
    <div class="row row-offcanvas row-offcanvas-right">
      
      {{> navbar}}

      <div class="canvas">     
        <div class="col-xs-12 canvas">         
          <div class="row">
            <div class="col-xs-12">
              <div class="sidebar-offcanvas sidebar" id="sidebar">
                {{> navmenu }}
              </div><!--/.sidebar-offcanvas-->           
              {{> yield "nav"}}
            </div>
          </div>
          {{#if networkError}}
          <div class="network-error-nav">
            {{networkErrorMessage}}. <a href='#'>أعد الاتصال الآن</a>
          </div>
          {{/if}}
          {{> yield}}
        </div>
      </div>

    </div><!--/row-->

  </div><!--/.container-->

  <script type="text/javascript" src="/slick.min.js"></script>
  <script type="text/javascript" src="/snackbar.min.js"></script>
    
</template>


<template name="navbar">
  <div class="navbar navbar-fixed-top navbar-warning">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" 
          class="navbar-toggle" 
          style="float:right; margin-right:10px;"
          data-toggle="offcanvas" >
          {{#if unreadItems}}
            <span class="unread-mark"></span>
          {{/if}}
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="{{pathFor 'home'}}">
          <img alt="Brand" src="/bazar-brand-trans.png" style="height:40px;">
        </a>
        <ul class="nav navbar-nav pull-left" style="margin-top:0px; margin-bottom:0px;">
          <li id="my-cart">
            <a href="{{pathFor 'cart'}}" style="padding-bottom:15px; padding-top:15px;">
              {{#if currentUser.cartItems}}
                <span class="counter">({{currentUser.cartItems}})</span>
              {{else}}
                <span class="counter">(0)</span>
              {{/if}}            
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </a>
          </li>
        </ul>        
      </div>
  </div>
</div> 
</template>

<template name="navmenu">

  <nav id="offcanvas" role="navigation">
    <a class="navmenu-brand" style="margin-bottom:5px; margin-top:5px;">
      {{#if currentUser}}
      <small>{{_ "hello"}} <span style="color:blue">{{currentUser.username}}</span>
        <a href="{{pathFor 'logout'}}">
          (&nbsp;{{_ "signOut"}} <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>)
          </a>
      </small>
      {{else}}
      {{_ "bazar"}} 
      {{/if}}
    </a>
    <hr style="margin-bottom:5px; margin-top:5px;"/>
    <ul class="nav navmenu-nav">
      <li class={{isActiveRoute 'home'}}>
        <a href="{{pathFor 'home'}}">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; {{_ "home"}}
        </a>
      </li>
      {{#if currentUser}}
      <li class={{isActiveRoute 'favorites.index'}}><a href="{{pathFor 'favorites.index'}}">
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>&nbsp; {{_ "favorites"}}
      </a></li>          
      <li class={{isActiveRoute 'settings.purchases'}} id="my-purchases">
        <a href="{{pathFor 'settings.purchases'}}">
          <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>&nbsp; {{_ "purchases"}}
          {{#if currentUser.totalPurchases}}          
            (<span class="counter">{{currentUser.totalPurchases}}</span>)
          {{else}}
            (<span class="counter">0</span>)
          {{/if}}
          {{#if currentUser.unreadPurchases}}
            <span class="unread-counter badge badge-danger">{{currentUser.unreadPurchases}}</span>
          {{/if}}
        </a>
      </li>
      <li class={{isActiveRoute 'inbox'}} id="inbox">
        <a href="{{pathFor 'inbox'}}">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; {{_ "messages"}}
        {{#if currentUser.unreadInbox}}
          <span class="unread-counter badge badge-danger">{{currentUser.unreadInbox}}</span>
        {{else}}
          (<span class="counter">0</span>)
        {{/if}}          
      </a></li>
      <li class={{isActiveRoute regex='settings.account'}}><a href="{{pathFor 'settings.account'}}">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp; {{_ "settings"}}
      </a></li>  
      {{#if hasShop}}
      <hr style="margin-bottom:5px; margin-top:5px;"/>
      <center>
        <a href="{{pathFor 'shops.show' shop=currentShop._id}}" class="thumbnail" style="width:100px; margin-bottom:5px; margin-top:10px;">
        <img src={{currentShopLogoUrl}} class="shop-logo img-circle" alt="...">
        </a>
      </center>     
      <li class={{isActiveRoute 'shops.mine'}} id="my-shop"><a href="{{pathFor 'shops.mine'}}">        
        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>&nbsp; <span style="color:blue">{{currentShop.title}}</span>
      </a></li>
      <li class={{isActiveRoute 'settings.orders'}} id="my-orders">
        <a href="{{pathFor 'settings.orders'}}">
          <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>&nbsp; {{_ "newOrders"}}              
          {{#if currentShop.totalOrders}}          
            (<span class="counter">{{currentShop.totalOrders}}</span>)
          {{else}}
            (<span class="counter">0</span>)
          {{/if}}                                 
          {{#if unreadOrders}}
            <span class="unread-counter badge badge-danger">{{unreadOrders}}</span>
          {{/if}}
        </a>
      </li>
      <li class={{isActiveRoute 'settings.rejectedOrders'}} id="my-sales">
        <a href="{{pathFor 'settings.rejectedOrders'}}">
          <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>&nbsp; {{_ "rejectedOrders"}}             
        </a>
      </li>          
      <li class={{isActiveRoute 'settings.sales'}} id="my-sales">
        <a href="{{pathFor 'settings.sales'}}">
          <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>&nbsp; {{_ "sales"}}
          {{#if currentShop.totalSales}}          
            (<span class="counter">{{currentShop.totalSales}}</span>)
          {{else}}
            (<span class="counter">0</span>)
          {{/if}}                     
        </a>
      </li>
        
      {{/if}}
      {{#unless hasShop}}
      <li class={{isActiveRoute 'shops.new'}} id="create-shop"><a href="{{pathFor 'shops.new'}}">
        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>&nbsp; {{_ "createShop"}}
      </a></li>
      {{/unless}}
    {{else}}
      <li class={{isActiveRoute 'accounts.signin'}}><a href="{{pathFor 'accounts.signin'}}">
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; {{_ "signIn"}}
      </a></li>
      <li class={{isActiveRoute 'accounts.signup'}}><a href="{{pathFor 'accounts.signup'}}">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; {{_ "signUp"}}
      </a></li>
    {{/if}}
    {{#if isAdmin}}
      <li class={{isActiveRoute 'admin.users'}}><a href="{{pathFor 'admin.users'}}">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp; {{_ "admin"}}
      </a></li>
    {{/if}}   
      <li class={{isActiveRoute 'about'}}><a href="{{pathFor 'about'}}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp; {{_ "about"}}
      </a></li>             
    </ul>  
  </nav>
</template>