<template name="applicationLayout">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <button type="button"
                        class="navbar-toggle"
                        data-toggle="offcanvas"
                        data-target=".navmenu" data-canvas="body">
                    {{#if unreadItems}}
                        <span class="unread-mark"></span>
                    {{/if}}
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">
                    <img alt="Brand" src="/brand.png">
                </a>
                <ul class="nav navbar-nav pull-left">
                    <li>
                        <a href="{{pathFor 'cart'}}">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav id="offcanvas" class="navmenu navmenu-inverse navmenu-fixed-left navmenu-site offcanvas" role="navigation">
        <a class="navmenu-brand">Bazar</a>
        <ul class="nav navmenu-nav">
            <li class={{isActiveRoute 'home'}}>
                <a href="{{pathFor 'home'}}">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                </a>
            </li>
            {{#if currentUser}}
                <li class={{isActiveRoute 'settings.purchases'}} id="my-purchases">
                    <a href="{{pathFor 'settings.purchases'}}">
                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>&nbsp; Purchases
                        {{#if unreadPurchases}}
                            <span class="counter label label-default">{{unreadPurchases}}</span>
                        {{else}}
                            (<span class="counter">0</span>)
                        {{/if}}
                    </a>
                </li>
                {{#if hasShop}}
                    <li class={{isActiveRoute 'settings.orders'}} id="my-orders">
                        <a href="{{pathFor 'settings.orders'}}">
                            <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>&nbsp; Orders
                            {{#if unreadOrders}}
                                <span class="counter label label-default">{{unreadOrders}}</span>
                            {{else}}
                                (<span class="counter">0</span>)
                            {{/if}}
                        </a>
                    </li>
                {{/if}}
                <li class={{isActiveRoute 'favorites.index'}}><a href="{{pathFor 'favorites.index'}}">
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>&nbsp; Favorites
                </a></li>
                <li class={{isActiveRoute 'messages.index'}}><a href="{{pathFor 'messages.index'}}">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp; Messages
                </a></li>
                <li class={{isActiveRoute regex='settings.(account|shop|sales)'}}><a
                        href="{{pathFor 'settings.account'}}">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp; Settings
                </a></li>
                {{#unless hasShop}}
                    <li class={{isActiveRoute 'shops.new'}} id="create-shop"><a href="{{pathFor 'shops.new'}}">
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>&nbsp; Create shop
                    </a></li>
                {{else}}
                    <li class={{isActiveRoute 'shops.mine'}} id="my-shop"><a href="{{pathFor 'shops.mine'}}">
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>&nbsp; My shop
                    </a></li>
                {{/unless}}

                <li class={{isActiveRoute 'logout'}}><a href="{{pathFor 'logout'}}">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Sign out
                </a></li>
                <li class={{isActiveRoute 'admin.users'}}><a href="{{pathFor 'admin.users'}}">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp; Admin
                </a></li>
            {{else}}
                <li class={{isActiveRoute 'signin'}}><a href="{{pathFor 'signin'}}">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Sign in
                </a></li>
                <li class={{isActiveRoute 'signup'}}><a href="{{pathFor 'signup'}}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Sign up
                </a></li>
            {{/if}}
        </ul>
    </nav>

    <div class="container">
        <div>
            {{> yield "nav"}}
        </div>
        <div class="container app-container">
            {{> yield}}
        </div><!-- /.container -->
    </div>

</template>