<template name="itemsFilter">
	<div class="row">
	  {{#autoForm class="form-inline" id="itemsFilterForm" schema=schema template="bootstrap3-inline"}}
	    {{> afFormGroup name="selectedCity" 
	    	label=false options=options  
	    	style="width:90px;" 
	    	firstOption="(All)"}}
		<div class="form-group">
			<input name='search' type="text" 				
				class="form-control" placeholder="Search">
			<span class="help-block"></span>
		</div>
	  {{/autoForm}}
	  <hr style="margin-top:5px"/>
	</div>
</template>