<template name="itemsFilter">
	<div class="row">
	<div class="col-xs-12">
	  {{#autoForm class="form-inline" id="itemsFilterForm" schema=schema template="bootstrap3-inline"}}
		<span>{{> afQuickField name="selectedCity" 
					style=selectedCityStyle
			    	label=false options=options  
			    	value=defaultValue
			    	firstOption=(_ "allCities") }}</span>				
		<span class="form-group" style="width:65%">
			<input name='search' type="text" style="width:100%" value={{searchText}}
				class="form-control" placeholder="{{_ 'search'}}">
		</span>
	  {{/autoForm}}
	  <hr style="margin-top:5px"/>
	</div>
	</div>
</template>