<template name="threadsList">
	{{#if Template.subscriptionsReady}}	
		<ul class="threads-list" style="padding-right:0px;">
		{{#each threads}}
			{{> threadListItem }}
		{{else}}
			<div class="no-items-message">
				{{_ "noItemsMessage"}}
			</div>		
		{{/each}}
		</ul>
	{{else}}
		{{> spinner}}
	{{/if}}
</template>

<template name="threadListItem">
	<div class="thread-preview {{#if unread}}unread-thread{{/if}} row">
		<a href="{{pathFor 'inbox.thread' inbox=inbox thread=_id}}">
		{{_ "createdAt"}}: {{moment createdAt "MM-DD-YYYY" }}, {{unread}}, {{inbox}}, {{_id}}
		</a>
	</div>
</template>
