<template name="threadsList">
	{{#if Template.subscriptionsReady}}	
		<ul class="threads-list" style="padding-right:0px;">
		{{#each threads}}
			{{> threadListItem }}
		{{else}}
			<div class="no-items-message">
				{{_ "noItemsMessage"}}
			</div>		
		{{/each}}
		</ul>
	{{else}}
		{{> spinner}}
	{{/if}}
</template>



<template name="threadListItem">
	<div 
		style="padding:5px; margin-bottom:5px;"
		class="panel panel-default thread-preview {{#if unread}}unread-thread{{/if}}" >
	  	<div class="panel-body" style="padding:5px;">
			<div class="media ">
			<div class="media-right" style="padding-right:0px;">
				<a href="{{pathFor 'inbox.thread' thread=_id}}">
				  <img class="media-object" style="margin-left:10px;" src="{{avatar}}" width="50px" alt="...">
				</a>
			</div>			
			<div class="media-body">
				<span style="float:left;"><small>{{fromNow createdAt}}</small></span>
				<a href="{{pathFor 'inbox.thread' thread=_id}}">
				<b>
				{{#unless recipientIsShopOwner}}
					{{#unless recipient.isAdmin}}{{_"member"}}{{/unless}} {{recipient.username}}
				{{else}}
					{{_"shop"}} {{recipient.title}}	
				{{/unless}}
				</b><br />
  				</a>
		  		<small>{{lastMessage.body}}</small>
			</div>

			</div>
		</div>
	</div>		
</template>
