.item-thumbnail .caption p{
	font-size: 10pt;
	margin-bottom: 0px;
}

.item-thumbnail .caption {
	padding:0px;
}

li.list-group-item  {
	font-size: 10pt;
	padding: 0px !important;
}

.item-thumbnail .caption .price{
	color: blue;
}

.item-thumbnail{
	padding:1px;
}

.item-thumbnail .thumbnail{
	padding:2px;
}

.shop-thumbnail{
  padding:1px;
}
