.item-thumbnail .caption p{
	font-size: 10pt;
	margin-bottom: 0px;
}

.item-thumbnail .caption {
	padding:0px;
}

li.list-group-item  {
	font-size: 10pt;
	padding: 0px !important;
}

.item-thumbnail .caption .price{
	color: blue;
}

.item-thumbnail{
	padding:1px;
}

.item-thumbnail .thumbnail{
	margin-bottom: 1px;
}

.shop-thumbnail{
  padding:1px;
}

/* the below classes are row classes, we are adding right and left page margins */
.endless-list{
	margin-right:1px; margin-left:1px;
}
.cart-item {
	margin-right:1px; margin-left:1px;	
}

.order-item {
	margin-right: 1px; margin-left: 1px;
}
.purchase-item {
	margin-right: 1px; margin-left: 1px;
}
.sold-item {
	margin-right: 1px; margin-left: 1px;
}

.shop-header {
	margin-right: 1px; margin-left: 1px;
}