<template name="itemThumbnail">
  {{#if searchResult}}
  <div class="item-thumbnail col-xs-6 col-md-3">  
    <div class="thumbnail" style="position:relative;">
      <div class="caption">
        <p>{{{description}}}</p>
      </div>
    </div>
  </div>
  {{/if}}   
  <div class="item-thumbnail col-xs-6 col-md-3">
    <div class="thumbnail" style="position:relative;">
      <div style="position:absolute;right:8px;top:5px;font-size:8pt;color:blue;">
        <p>{{_id}}</p>
      </div>
      <a href="{{pathFor 'items.show' shop=shop._id itemId=_id}}">
        <img src="{{defaultThumbnail}}" alt="...">
      </a>
      <div class="caption">
          <p>
            <a href="{{pathFor 'items.show' shop=shop._id itemId=_id}}">
              {{{title}}}
            </a>
          </p>
          <p>{{shop.title}}، {{cityLabel city}}</p>
        <div style="float:left;margin-right:5px;margin-left:5px;">
          <p>
            <i style="font-size:20px" class="material-icons">share</i> 
            <a href="#" style="font-size:20px" class="favorite-btn material-icons">{{#if favorite}}star{{else}}star_border{{/if}}</a></p>
        </div>
        <p class="price">{{_ "riyals" price}}</p>
      </div>
    </div>
  </div>
</template>

