<template name="itemThumbnail">
  <div id="{{identifier}}" 
    class="item-thumbnail {{#if thumbnailDark}}thumbnail-dark{{/if}} col-xs-6 col-md-3">
    <div class="thumbnail" style="position:relative;">
      <!-- 
      DISPLAYING ITEM ID FOR COSTUMER: commented for future use
      <div style="position:absolute;right:8px;top:5px;font-size:8pt;color:blue;">
        <p>{{_id}}</p>
      </div> 
      -->
      <a href="{{pathFor 'items.show' shop=shop._id itemId=_id}}">
        <div style="height: 0; padding-bottom: 100%; background-position: center center; background-image:url('{{backgroundImage}}'); background-repeat: no-repeat, no-repeat; background-size: {{backgroundSize}};" alt="..." ></div>
      </a>
      <div class="caption" style="margin-top:5px;">
            <p style="max-height:18px; overflow:hidden;">
                <a href="{{pathFor 'items.show' shop=shop._id itemId=_id}}" style="color:black">
                    {{{title}}}
                </a>
            </p>
          <span style="float:left;margin-right:5px;margin-left:5px;">
            {{#unless isShopOwner}}
                <i style="font-size:18px" class="favorite-btn fa {{#if favorite}}fa-star{{else}}fa-star-o{{/if}} " aria-hidden="true"></i>
                <i style="font-size:18px" class="fa fa-share-alt" aria-hidden="true"></i>
                <!-- 
                <i style="font-size:15px" class="material-icons">share</i>
                <a href="#" 
                    style="font-size:15px" class="favorite-btn material-icons">
                    {{#if favorite}}star{{else}}star_border{{/if}}</a> 
                -->
            {{else}}
                <a href="#" style="font-size:15px; margin-bottom:0px;" 
                class="material-icons hide-item-btn" 
                title="{{#unless isHidden}}{{_ 'hide'}}{{else}}{{_ 'show'}}{{/unless}}">{{#unless isHidden}}visibility_off{{else}}visibility{{/unless}}</a>
                <a href="{{pathFor 'items.edit' shop=shop._id itemId=_id}}" 
                    style="font-size:15px;" class="material-icons edit-item-btn" title="Edit">create</a>
                <a href="#" style="font-size:15px;" 
                    class="material-icons detete-item-btn" 
                    title="{{_ 'delete'}}">delete</a>
            {{/unless}}
          </span>
          <p style="color:grey;" class="price">{{_ "riyals" price}}</p>
          <hr style="margin-top:5px; margin-bottom:5px;"/>
            <a href="{{pathFor 'shops.show' shop=shop._id}}" 
            style="margin-left:5px; float:right; width:25px;">
              <div class="img-circle" style="height: 0; padding-bottom: 100%; background-position: center center; background-image:url('{{shopLogoAbsolute}}'); background-repeat: no-repeat, no-repeat; background-size: {{shopLogobackgroundSize}};" alt="..." ></div>                
            </a>          
            <a style="max-height:18px; overflow:hidden;" href="{{pathFor 'shops.show' shop=shop._id}}"><small>{{shop.title}}</small></a>
            <p><small>{{cityLabel city}}</small></p>
      </div>
        </div>
    </div>
  {{#if searchResult}}
  <div class="col-xs-6 col-md-3">  
    <div class="thumbnail" style="position:relative;">
      <div class="caption">
        <p>{{{description}}}</p>
      </div>
    </div>
  </div>
  {{/if}}       
</template>