<template name="itemThumbnail">
    {{#if searchResult}}
        <div class="item-thumbnail col-xs-6 col-md-3">
            <div class="thumbnail" style="position:relative;">
                <div class="caption">
                    <p>{{{description}}}</p>
                </div>
            </div>
        </div>
    {{/if}}
    <div class="item-thumbnail {{#if isHidden}} thumbnail-dark {{/if}} col-xs-6 col-md-3">
        <div class="thumbnail" style="position:relative;">
            <div style="position:absolute;right:8px;top:5px;font-size:8pt;color:blue;">
                <p>{{_id}}</p>
            </div>
            <a href="{{pathFor 'items.show' shop=shop._id itemId=_id}}">
                <img src="{{defaultThumbnail}}" alt="...">
            </a>
            <div class="caption">
                <p>
                    <a href="{{pathFor 'items.show' shop=shop._id itemId=_id}}">
                        {{{title}}}
                    </a>
                </p>
                <p>{{shop.title}}، {{cityLabel city}}</p>

                <div style="float:left;margin-right:5px;margin-left:5px;">
                    <p>
                        {{#unless isActiveRoute 'shops.show'}}
                            <i style="font-size:20px" class="material-icons">share</i>
                            <a href="#" style="font-size:20px" class="favorite-btn material-icons">{{#if favorite}}
                                star{{else}}star_border{{/if}}</a>
                        {{else}}
                            <a href="#" style="font-size:20px;margin-right: 10px" class="material-icons hide-item-btn" title="{{#unless isHidden}}Hide{{else}}Show{{/unless}}">
                                <span class="glyphicon{{#unless isHidden}} glyphicon-eye-close{{else}} glyphicon-eye-open{{/unless}}"></span>
                            </a>

                            <a href="{{pathFor 'items.edit' shop=shop._id itemId=_id}}" style="font-size:20px;margin-right: 10px" class="material-icons edit-item-btn" title="Edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                            <a href="#" style="font-size:20px;margin-right: 10px" class="material-icons detete-item-btn" title="Delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        {{/unless}}
                    </p>
                </div>
                <p class="price">{{_ "riyals" price}}</p>
            </div>
        </div>
    </div>
</template>

