<template name="adminTables">
    {{#if isActiveRoute 'admin.categories'}}
        <h1 class="page-header admin-header">{{_ "Admin-Categories"}}</h1>
    {{else}}
        <h1 class="page-header admin-header">{{_ "Admin-Cities"}}</h1>

    {{/if}}

    {{#autoForm
    collection=formCollection
    id="insertCategoryForm"
    type="method"
    meteormethod = method}}

        {{> afQuickField name='label'}}
        {{> afQuickField name='identifier'}}

        <button type="submit" class="btn btn-warning btn-lg btn-raised">{{_ "enter"}}</button>
        <br/>

    {{/autoForm}}
    <table class="table table-bordered table-categories">
        <thead>
        <tr>
            {{#if isActiveRoute 'admin.categories'}}
                <th>{{_ "ArabicCategoryName"}}</th>
                <th>{{_ "EnglishCategoryName"}}</th>
                <th>#</th>
            {{else}}
                <th>{{_ "ArabicCityName"}}</th>
                <th>{{_ "EnglishCityName"}}</th>
                <th>#</th>
            {{/if}}
        </tr>
        </thead>
        <tbody>
        {{#each components}}
            <tr id= {{identifier}}>
                <td>{{label}}</td>
                <td>{{identifier}}</td>
                <td>
                    <button class="btn btn-warning btn-xs btn-raised btn-delete">{{_ "delete"}}</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

</template>
