<template name="adminTables">
    {{#if isActiveRoute 'admin.categories'}}
        <h1 class="page-header admin-header">{{_ "Admin-Categories"}}</h1>
    {{else}}
        <h1 class="page-header admin-header">{{_ "Admin-Cities"}}</h1>
    {{/if}}

    {{> insertCategoryForm }}

    <div>
    <table class="table table-bordered table-condensed table-striped table-categories">
        <thead>
        <tr>
            {{#if isActiveRoute 'admin.categories'}}
                <th class="col-md-3">{{_ "ArabicCategoryName"}}</th>
                <th class="col-md-3">{{_ "EnglishCategoryName"}}</th>
                <th class="col-md-3">{{_ "categoryOrder"}}</th>
                <th class="col-md-2">#</th>
            {{else}}
                <th class="col-md-3">{{_ "ArabicCityName"}}</th>
                <th class="col-md-3">{{_ "EnglishCityName"}}</th>
                <th class="col-md-2">#</th>
            {{/if}}
        </tr>
        </thead>
        <tbody>
        {{#each components}}
            <tr id= {{identifier}}>
                <td style="vertical-align: middle" class="col-md-3">{{label}}</td>
                <td style="vertical-align: middle" class="col-md-3">{{identifier}}</td>
                <td class="col-md-3">{{> categotyOrder data=this}}</td>
                <td style="vertical-align: middle" class="col-md-2">
                    <button class="btn btn-warning btn-sm btn-raised btn-delete">{{_ "delete"}}</button>
                    {{#if isCategory}}
                    <a href="{{pathFor 'admin.categories.edit' categoryId=_id }}" class="btn btn-warning btn-sm btn-raised btn-edit">{{_ "edit"}}</a>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    </div>

</template>

<template name="categotyOrder">
    <div class="btn-group-vertical" role="group" aria-label="...">
        <button class="btn btn-default btn-raised btn-xs order-up-btn">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        </button>

        <button class="btn btn-default btn-raised btn-xs order-down-btn">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        </button>
    </div>
</template>

<template name="insertCategoryForm">    
    {{#autoForm
        collection=formCollection
        id="insertCategoryForm"
        type=formType
        doc=doc
        meteormethod = method}}

        {{> afQuickField name='label'}}
        {{> afQuickField name='identifier'}}

        <button type="submit" class="btn btn-warning btn-lg btn-raised">{{_ "enter"}}</button>
        <br/>
    {{/autoForm}}    
</template>