<template name="endlessList">
	{{#if showFilters }}
	{{> cityFilter}}{{> search }}
	<hr />
	{{/if}}

	{{#if listLoadingFirstTime}}
		<div>Loading...</div>
	{{else}}
		<div class="endless-list row">
		{{#if noItems}}
			<div class="no-items-message">
	  			There are currently no items
	  		</div>
		{{else}}
			{{#each items}}
			{{> Template.dynamic template=template data=this}}	            					
			{{/each}}
	  		{{#if hasMore}}
                <div id="loading-more-items" style="margin-left: 25px;">
                    <center><span class="loading">Loading...</span></center>
                </div>
            {{/if}}
		{{/if}}
		</div>
	{{/if}}
</template>

<template name="shopThumbnail">
  <div class="shop-thumbnail col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{logo}}" alt="...">
      <div class="caption">
		<a href="{{pathFor 'shops.show' shop=_id }}">
			{{title}}
		</a>
      </div>
    </div>
  </div>	
</template>

