<template name="endlessList">
	{{#if showFilters }}
		{{> itemsFilter}}
	{{/if}}

	{{#if listLoadingFirstTime}}
		{{> spinner }}
	{{else}}
		<div class="endless-list row">
		{{#if noItems}}
			<div class="no-items-message">
	  			{{_ "noItemsMessage" }}
	  		</div>
		{{else}}
			{{#unless searchMode}}
				{{#each items}}
					{{#if isEven @index}}
						<div class="clearfix visible-xs"></div>
					{{/if}}
					{{> Template.dynamic template=template data=this }}	
				{{/each}}
		  		{{#if hasMore}}
	                <div id="loading-more-items" style="margin-left: 25px;">
	                    <center><span class="loading">{{_ "loadingMessage"}}</span></center>
	                </div>
	            {{/if}}
	        {{else}}
	        	{{#unless isSearching}}
		        	{{#if noResults}}
		        		<div class="no-results-message">
		        			{{_ "noResultsMessage"}}
		        		</div>
		        	{{else}}
		        	{{#each searchItems}}
						{{> Template.dynamic template=template data=this}}
						<div class="clearfix visible-xs"></div>
						{{#unless isEven @index}}
							<div class="clearfix visible-md"></div>
						{{/unless}}
					{{/each}}
					{{/if}}
				{{else}}
					{{> spinner}}
				{{/unless}}
            {{/unless}}
		{{/if}}
		</div>
	{{/if}}
</template>

<template name="shopThumbnail">
  <div class="shop-thumbnail col-xs-6 col-md-3">
    <div class="thumbnail">
		<a href="{{pathFor 'shops.show' shop=_id }}">
			<img src="{{logo}}" alt="...">
		</a>
      <div class="caption">
		<a href="{{pathFor 'shops.show' shop=_id }}">
			{{title}}
		</a>
      </div>
    </div>
  </div>	
</template>

