<template name="endlessList">
	{{#if showFilters }}
		{{> itemsFilter}}
	{{/if}}

	{{#if listLoadingFirstTime}}
		{{> spinner }}
	{{else}}
		<div class="endless-list row" style="-webkit-overflow-scrolling: touch; -webkit-transform: translateZ(0px);">
		{{#if noItems}}
			<div class="no-items-message col-xs-12">
	  			{{_ "noItemsMessage" }}
	  		</div>
		{{else}}
			{{#unless searchMode}}
				{{#each items}}
					{{#if isEven @index}}
						<div class="clearfix visible-xs"></div>
					{{/if}}
					{{> Template.dynamic template=template data=this }}	
				{{/each}}
		  		{{#if hasMore}}
	                <div id="loading-more-items" class="col-xs-12" style="margin-left: 25px;">
	                    <center><span class="loading">{{_ "loadingMessage"}}</span></center>
	                </div>
	            {{/if}}
	        {{else}}
	        	{{#unless isSearching}}
		        	{{#if noResults}}
		        		<div class="no-results-message">
		        			{{_ "noResultsMessage"}}
		        		</div>
		        	{{else}}
		        	{{#each searchItems}}
						{{> Template.dynamic template=template data=this}}
						<div class="clearfix visible-xs"></div>
						{{#unless isEven @index}}
							<div class="clearfix visible-md"></div>
						{{/unless}}
					{{/each}}
					{{/if}}
				{{else}}
					{{> spinner}}
				{{/unless}}
            {{/unless}}
		{{/if}}
		</div>
		<br/><br/><br/><br/><!--So that floating buttons do not cover last elements -->
	{{/if}}
</template>

<template name="shopThumbnail">
  <div id="{{identifier}}" class="shop-thumbnail col-xs-6 col-md-3">
    <div class="thumbnail">
		<a href="{{pathFor 'shops.show' shop=_id}}" >
    		<div class="img-circle" style="height: 0; padding-bottom: 100%; background-position: center center; background-image:url('{{backgroundImage}}'); background-repeat: no-repeat, no-repeat; background-size: {{backgroundSize}};" alt="..." ></div>	
		</a>		
      <div class="caption">
      	<p style="max-height:18px; overflow:hidden;">
		<a href="{{pathFor 'shops.show' shop=_id }}">
			{{{title}}}
		</a> <small>({{cityLabel city}})</small></p>
      </div>
    </div>
  </div>	
</template>